# SPDX-FileCopyrightText: Public Domain
# SPDX-License-Identifier: CC0-1.0

name: Package Templates
on:
  push:
    tags:
      - '**'

permissions:
  contents: read

jobs:
  package:
    runs-on: windows-latest
    permissions:
      id-token: write   # required by NuGet/login
    concurrency:
      group: rel-${{ github.ref_name }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: >
            10.0.x

      - name: Build package
        run: |
          dotnet restore
          dotnet build -c Release
          dotnet pack

      - name: Obtain NuGet API key
        uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1.1.0
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish release
        working-directory: ./bin/Release
        run: |
          dotnet nuget push `
            Npp.DotNet.Templates.${env:RELEASE}.nupkg `
            -k ${env:API_KEY} `
            -s https://api.nuget.org/v3/index.json `
            --skip-duplicate
        env:
          RELEASE: ${{ github.ref_name }}
          API_KEY: ${{ steps.login.outputs.NUGET_API_KEY }}
